<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationServlet</servlet-name>
        <servlet-class>Servlets.NavigationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanApplicationServlet</servlet-name>
        <servlet-class>Servlets.LoanApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanBalanceServlet</servlet-name>
        <servlet-class>Servlets.LoanBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanPaymentServlet</servlet-name>
        <servlet-class>Servlets.LoanPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <servlet-class>Servlets.CustomerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfGeneratorServlet</servlet-name>
        <servlet-class>Servlets.PdfGeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigationServlet</servlet-name>
        <url-pattern>/Navigation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanApplicationServlet</servlet-name>
        <url-pattern>/LoanApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanBalanceServlet</servlet-name>
        <url-pattern>/LoanBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanPaymentServlet</servlet-name>
        <url-pattern>/LoanPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <url-pattern>/CustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfGeneratorServlet</servlet-name>
        <url-pattern>/PdfGenerator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
